{% extends "_base.html" %}

{% block title %}All feeds{% endblock %}

{% block content %}
<div id="header">
  <a class="showread" href="{{ url_for('main', show_read = not show_read) }}">
    {%- if show_read %}Hide read{% else %}Show read{% endif -%}
  </a>
  <a class="markread" href="{{ url_for('read_all', stamp=stamp) }}">Mark all as read</a>
</div>
<div id="unread">
  {% for item in entries %}
    {{ showentry(item, source=True) }}
  {% endfor %}
</div>
<div id="feeds">
  {% for item in feeds %}
    <div class="feed">
      <a href="{{ url_for('feed', feed_id = item.id) }}">{{ item.name }}</a>
    </div>
  {% endfor %}
</div>
<a href="{{ url_for('add_feed') }}">New feed</a>
{% endblock %}
